/*  your css code here. If applicable */
th{
	height:40px;
	width:200px;
	border:2px solid gray;
	border-radius:5px;
	font-size:25px
}

td{
	height:40px;
	width:200px;
	border:2px solid gray;
	border-radius:5px;
	font-size:25px;
}