/*  your css code here. If applicable */
body{
	display:flex;
}

.box{
	height:50px;
	width:200px;
	border:1px solid gray;
	border-radius:5px;
	font-size:32px;
	padding-left:5px;
}

h1{
	height:50px;
	width:200px;
	border:1px solid gray;
	border-radius:5px;
	font-size:30px;
	text-align:center;
	padding:5px;
	margin:2px;
}