/*  your css code here. If applicable */
th{
	height:40px;
	width:200px;
	border:2px solid gray;
	border-radius:5px;
	font-size:25px;
	padding:8px;
}

td{
	height:40px;
	width:200px;
	border:2px solid gray;
	border-radius:5px;
	font-size:25px;
	padding:8px;
}

tr:nth-child(even){
	background-color:gray;
}